<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Empleate</title>
    </head>
    <body>
        
        <!-- 1 Sección principal para mostrar un listado de profesionistas -->
        <section th:fragment="listadoProfesionistas" id="profesionistas">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <br>
                        <div class="card text-center text-black mb-3" style="background-color:lightcyan;">
                            <div class="card-body">
                                <h3>[[#{app.perfil}]]</h3>
                                <br>
                                <img th:src="${#ctx.session.cliente.rutaImagen}" height="150"/>
                                <br><br>
                                <div class="container" sec:authorize="hasRole('ADMIN')">
                                    <h5>[[${#ctx.session.cliente.nombre}]] [[${#ctx.session.cliente.apellidos}]]</h5>
                                </div>
                                <br><br>
                                <a th:href="@{/cliente/modificarPerfil/}+${#ctx.session.cliente.cedula}"
                                    class="btn" style="background-color:silver;">
                                    <i class="fa-regular fa-user"></i> [[#{app.verPerfil}]]
                                </a>
                                <br><br>
                                <a th:href="@{/configuracion/}"
                                    class="btn" style="background-color:silver;">
                                    <i class="fa-regular fa-user"></i> [[#{app.config}]]
                                </a>
                                <br><br>    
                                <form method="POST" th:action="@{/logout}">
                                    <button class="btn mx-2" style="background-color:silver;">
                                        <i class="fa fa-sign-out-alt"></i> [[#{app.cerrarSesion}]]
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-9">
                        <div class="card">
                            <div th:if="${profesionistas != null and !profesionistas.empty}"> 
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>  </th>
                                            <th>[[#{usuario.nombre}]]</th>
                                            <th>[[#{profesionista.ocupacion}]]</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="profesionista : ${profesionistas}">
                                            <td><img id="blah" th:src="@{${profesionista.cliente.rutaImagen}}" alt="foto" height="80"/></td>
                                            <td>[[${profesionista.cliente.nombre}]] [[${profesionista.cliente.apellidos}]]</td>
                                            <td>[[${profesionista.ocupacion}]]</td>
                                            <td><a th:href="@{/profesionista/verPerfil/}+${profesionista.idProfesionista}"
                                                   class="btn btn-success">
                                                    <i class="fa-regular fa-eye"></i> [[#{accion.perfil}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${profesionistas == null or profesionistas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="listadoComentarios" id="comentarios">
            <br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div th:if="${comentarios != null and !comentarios.empty}"> 
                                <table class="table table-striped table-hover">
                                    <thead class="table" style="background-color:mediumspringgreen;">
                                        <tr><th>[[#{app.comentarios}]]</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="comentario : ${comentarios}">
                                            
                                            <div>
                                                <td>
                                                    <strong><p th:text="${#strings.substringBefore(comentario.opinion,':')}"></p></strong>
                                                    <p th:text="${#strings.substringAfter(comentario.opinion,':')}">[[${comentario.opinion}]]</p>
                                                </td>
                                                <div th:if="${mostrarVista}">
                                                    <td><a th:href="@{/comentario/eliminar/}+${comentario.idComentario}"
                                                         accesskey=""class="btn btn-danger">
                                                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>
                                                </div>
                                                <div th:unless="${mostrarVista}">
                                                <div th:if="${#ctx.session.cliente.cedula == comentario.cedula}">
                                                <td><a th:href="@{/comentario/eliminar/}+${comentario.idComentario}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>
                                                </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${comentarios == null or comentarios.empty}">
                                <span>[[#{lista.comentario}]]</span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 4 Fragmento que se utiliza en la página perfil.html -->
        <section th:fragment="agregarComentario">
            <div id="agregarComentario" class="modal fade"  tabindex="-1" 
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{comentario.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        
                        <form th:action="@{/comentario/guardar}" 
                              th:object="${comentario}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <input type="hidden" name="idProfesionista" th:field="*{idProfesionista}"/>
                            <input type="hidden" name="cedula" th:field="*{cedula}"/>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <textarea class="form-control" name="opinion"
                                              rows="10" cols="500" required="true"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="modificarComentario">
            <div id="modificarComentario" class="modal fade"  tabindex="-1" 
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{comentario.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        
                        <form th:action="@{/comentario/modificar}" 
                              th:object="${comentario}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <input type="hidden" name="idComentario" th:field="*{idComentario}"/>
                            <input type="hidden" name="idProfesionista" th:field="*{idProfesionista}"/>
                            <input type="hidden" name="cedula" th:field="*{cedula}"/>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <textarea class="form-control" name="opinion"
                                              rows="10" cols="500" required="true"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 4 Fragmento que se utiliza en la página perfil.html -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarComentario">
                            <i class="fas fa-plus"></i> [[#{comentario.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 4 Fragmento que se utiliza en la página perfil.html -->
        <section th:fragment="verProfesionista">
            <br>
            <div class="row" style="background-color:thistle;">
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <br>
                    <img id="imgPerfil" th:src="@{${profesionista.cliente.rutaImagen}}" alt="foto" width="110"/>
                    <div><a><br></a></div>
                </div>
                <div class="col-md-3">
                    <br> <br>
                    <h4>[[${profesionista.cliente.nombre}]] [[${profesionista.cliente.apellidos}]]</h4>
                    <h4>[[${profesionista.ocupacion}]]</h4>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <br>
                    <h4><i class="fa-regular fa-envelope"></i> [[${profesionista.correo}]]</h4>
                    <h4><i class="fa-brands fa-whatsapp"></i> [[${profesionista.telefono}]]</h4>
                    <h4><i class="fa-brands fa-instagram"></i> [[${profesionista.instagram}]]</h4>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id=details>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>[[#{usuario.perfil}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <textarea class="form-control" name="descripcion" 
                                                rows="10" cols="500" readonly>[[${profesionista.descripcion}]]</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 4 Fragmento que se utiliza en la página modificar.html cambiar todo dentro del form-->
        <section th:fragment="modificarProfesionista">
            <br>
            
            <br><br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method="POST"
                          th:action="@{/profesionista/guardar}" 
                          th:object="${profesionista}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <div class="row" style="background-color:thistle;">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <img id="imgPerfil" th:src="@{${profesionista.cliente.rutaImagen}}" alt="foto" width="110"/>
                            </div>
                            <div class="col-md-2">
                                <br>
                                [[${profesionista.cliente.nombre}]] [[${profesionista.cliente.apellidos}]]
                                <br>
                                Cédula: [[${profesionista.cliente.cedula}]]
                                <br>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <br><br>
                                <div class="mb-1" style="background-color:darkorange;">
                                    <label for="activo">[[#{accion.mostrar}]]</label>
                                        <input class="form-check-input" type="checkbox" style="background-color:thistle;"
                                         name="activo" id="activo" th:field="*{activo}">
                                </div>
                                
                            </div>
                        </div>
                        
                        <input type="hidden" name="idProfesionista" th:field="*{idProfesionista}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>[[#{usuario.perfil}]]</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="ocupacion">[[#{profesionista.ocupacion}]]</label>
                                                    <input type="text" class="form-control" th:field="*{ocupacion}" name="ocupacion" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="correo">[[#{usuario.correo}]]</label>
                                                    <input type="text" class="form-control" name="correo" th:field="*{correo}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono">[[#{usuario.telefono}]]</label>
                                                    <input type="text" class="form-control" name="telefono" th:field="*{telefono}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="instagram">[[#{usuario.instagram}]]</label>
                                                    <input type="text" class="form-control" name="instagram" th:field="*{instagram}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{usuario.descripcion}]]</label>
                                                    <textarea class="form-control" name="descripcion" th:field="*{descripcion}" 
                                                      rows="10" cols="500">[[#{profesionista.descripcion}]]</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                                    <select name="categoria.idCategoria" th:field="*{categoria.idCategoria}" class="form-control">
                                                        <option th:each="item : ${categorias}" th:value="${item.idCategoria}" th:if="${item.descripcion == '*{categoria.idCategoria}'} ? 'selected' : ''">[[${item.descripcion}]]</option>
                                                    </select><!--ese th:if es para seleccionar un valor por defecto--> 
                                                </div>
                                                <div class="modal-footer align-middle">
                                                    <button class="btn" style="background-color:LightSalmon;" type="submit">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        
        <section th:fragment="filtros" class="bg-light">
            <div class="row py-2">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/profesionista/buscarOcupacion}" 
                          class="was-validated">
                        <div class="card success">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="filtroOcupacion">[[#{profesionista.buscarOcupacion}]]</label>
                                    <input type="text" class="form-control" 
                                           th:value="${filtroOcupacion}"
                                           th:name="filtroOcupacion"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit"  style="background-color:blue;" class="btn text-light">
                                    <i class="fa-solid fa-magnifying-glass"></i> [[#{accion.buscar}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
    </body>
</html>
