<!DOCTYPE html>
<html lang="es">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/estilos.css">

</head>

<body>

    <!-- formulario de recuperacion de contrasena-->

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
            
        </div>

        <form class="formulario">
            <div class="texto-formulario">
                <p>Recuperacion de contraseña</p>
            </div>
            <div class="input">
                <label for="contraseña">Antigua contraseña</label>
                <input placeholder="Ingresa tu antigua contraseña" type="password" id="oldPassword">
            </div>
            <div class="input">
                <label for="contraseña">Nueva contraseña</label>
                <input placeholder="Ingresa tu nueva contraseña" type="password" id="contraseña">
            </div>
            <div class="input">
                <label for="contraseña">Confirmar contraseña</label>
                <input placeholder="Confirma tu nueva contraseña" type="password">
            </div>
            <br>
            <div class="input">
                <input type="submit" value="Iniciar sesión" id="login">
            </div>
        </form>
    </div>

</body>

</html>