<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Empleate</title>
    </head>
    <body>
        <section th:fragment="paginaLogin" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   

                        <img src="images/inicio.png" id="imgIndex" alt="" class="img-fluid"/>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section id="main-header" class="py-1 bg-light bs-gradient text-black">
                            <div class="container" style="border:1px solid #abd9d4;">
                                <h4><i class="fa-solid fa-person-digging"></i> [[#{app.eslogan}]]</h4>
                            </div>
                        </section>
                        <!-- 25 --><!--th:object="${usuario}" va despues de th:action="@{/login}"-->
                        <form th:action="@{/login}" 
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <label for="cedCliente"></label><input type="hidden" class="form-control" name="cedCliente" value=""/>

                                <div class="mb-3">
                                    <label for="usuario">[[#{login.username}]]</label>
                                    <input type="text" class="form-control" th:value="${usuario}" th:name="usuario" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">[[#{login.password}]]</label>
                                    <input type="text" class="form-control" th:value="${clave}" th:name="clave" required="true"/>
                                </div>
                            </div>
                            <section id="section-footer" class="bg-light bs-gradient text-black">
                                <div class="container">
                                    <button class="btn btn-primary" type="submit">[[#{login.login}]]</button>
                                </div>
                            </section>


                        </form>
                        <br>
                        <br>
                        <div class="pr-auto container">
                            <button class="btn btn-secondary" type="submit" >[[#{login.new}]]</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
